{% extends "base.html" %}
{% block title %}Catalog{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{css_path}}"/>
{% endblock %}
{% block content %}
<section class="catalog_section">
    <article><img src="{{path}}" alt="RTX 3050">Видеокарта MSI GeForce RTX 3050 VENTUS 2X OC [RTX 3050 VENTUS 2X 8G OC]
        [PCI-E 4.0, 8 ГБ GDDR6, 128 бит, 1552 МГц - 1807 МГц, DisplayPort x3, HDMI]
    </article>
    <article><img src="{{path}}" alt="RTX 3050">Видеокарта MSI GeForce RTX 3050 VENTUS 2X OC [RTX 3050 VENTUS 2X 8G OC]
        [PCI-E 4.0, 8 ГБ GDDR6, 128 бит, 1552 МГц - 1807 МГц, DisplayPort x3, HDMI]
    </article>
    <article><img src="{{path}}" alt="RTX 3050">Видеокарта MSI GeForce RTX 3050 VENTUS 2X OC [RTX 3050 VENTUS 2X 8G OC]
        [PCI-E 4.0, 8 ГБ GDDR6, 128 бит, 1552 МГц - 1807 МГц, DisplayPort x3, HDMI]
    </article>
    <article><img src="{{path}}" alt="RTX 3050">Видеокарта MSI GeForce RTX 3050 VENTUS 2X OC [RTX 3050 VENTUS 2X 8G OC]
        [PCI-E 4.0, 8 ГБ GDDR6, 128 бит, 1552 МГц - 1807 МГц, DisplayPort x3, HDMI]
    </article>
</section>
{% endblock %}